node_modules
out
*.css
**/coverage
reports
*.log
tsconfig.tsbuildinfo
**/.blitz/**
**/.next/**
**/dist/**
**/.vercel/**
**/.test*
**/templates/**
**/generated/**
**/codegen.ts

/__mocks__
/__fixtures
/assets
/patches
/scripts
/types